
.body-style {
    background-color: white;
	margin:0;
}

.tile-top-left {
    background-color: ff0;
	grid-area: i1; 	

}

.tile-top-center {
    background-color: fe1;
	grid-area: i2; 	

}

.tile-top-right {

    background-color: fd2;
	grid-area: i3; 	

}

.tile-center-left {
    background-color: fc3;
	grid-area: i4; 	
}

.tile-center-mid-left {
	grid-area: i5;
    background-color: fb4;
}

.tile-center-mid-right {
	grid-area: i6; 	
    background-color: fa5;

}

.tile-center-right {
	grid-area: i7; 	
    background-color: f96;

}

.tile-bottom-left {
	grid-area: i8; 	
    background-color: f87;
}

.tile-bottom-center {
	grid-area: i9; 	
    background-color: f78;
}

.tile-bottom-right {
	grid-area: i0; 	
    background-color: f69;
}

.grid-container {
	display:grid;
	height:100%;
	width:100%;
	grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
	grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
	grid-template-areas: 
	"i1 i1 i1 i1 i2 i2 i3 i3 i3 i3"
	"i1 i1 i1 i1 i2 i2 i3 i3 i3 i3"
	"i1 i1 i1 i1 i2 i2 i3 i3 i3 i3"
	"i4 i4 i5 i5 i2 i2 i3 i3 i3 i3"
	"i4 i4 i5 i5 i2 i2 i3 i3 i3 i3"
	"i4 i4 i5 i5 i6 i0 i0 i7 i7 i7"
	"i8 i8 i5 i5 i6 i0 i0 i7 i7 i7"
	"i8 i8 i5 i5 i6 i0 i0 i7 i7 i7"
	"i8 i8 i9 i9 i9 i9 i9 i7 i7 i7"
	"i8 i8 i9 i9 i9 i9 i9 i7 i7 i7"

}

.pretty-text {
	font-size: 3vw;
	text-align:center;
	color: c33;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}