
h1 {
    display: inline;
	text-align:right;
		margin-left: 5em;

}

.photo {
float:left;
}

.bound-box {
			margin-left: 3em;
			margin-right:3em;
}

.margin-left-em {
		margin-left: 1em;
}

.margin-right-em {
		margin-right: 1em;
}

.body-style {
    background-color: white;
	margin:0;
}

.tile-header {
    background-color: ffbb77;
	grid-area: i0;
  position: relative;
  text-align: center;
}

.tile-header-text {
  position: absolute;
  text-align: left;
  
  top: 50%;
  transform: translate(0%, -50%);
}

.tile-top-left {
    background-color: ff7799;
	grid-area: i1;
  position: relative;
  text-align: center;
}

.tile-top-center {
    background-color: 08cc08;
	grid-area: i2;
  position: relative;
  text-align: center;
}

.tile-top-right {

    background-color: c66c88;
	grid-area: i3;
  position: relative;
  text-align: center;

}

.tile-center-left {
    background-color: 0077b5;
	grid-area: i4;
  position: relative;
  text-align: center;
}

.tile-center-mid-left {
	grid-area: i5;
    background-color: ff9911;
    position: relative;
    text-align: center;
}

.tile-center-mid-right {
	grid-area: i6;
    background-color: 1DA1F2;
    position: relative;
    text-align: center;
}

.tile-center-right {
	grid-area: i7;
    background-color: ffaa88;
    position: relative;
    text-align: center;
}

.tile-bottom-left {
	grid-area: i8;
    background-color: 6cc644;
    position: relative;
    text-align: center;
}

.tile-bottom-center {
	grid-area: i9;
    background-color: ffd700;
    text-align: center;
    position: relative;
}

.tile-bottom-right {
	grid-area: ia;
  background-color: 93A1AC;
  position: relative;
  text-align: center;
}

.auto {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.grid-container {
	display:grid;
	height:8.333%;
	width:100%;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	grid-template-areas:
	"i0"
}

.pretty-text {

	font-size: 2vw;
	color: 000;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
