
.body-style {
    background-color: white;
	margin:0;
}

.tile-header {
    background-color: ffbb77;
	grid-area: i0;
  position: relative;
  text-align: center;
}

.tile-top-left {
    background-color: bbbbbb;
	grid-area: i1;
  position: relative;
  text-align: center;
}

.tile-top-center {
    background-color: 505050;
	grid-area: i2;
  position: relative;
  text-align: center;
}

.tile-top-right {

    background-color: 989898;
	grid-area: i3;
  position: relative;
  text-align: center;

}

.tile-center-left {
    background-color: 666666;
	grid-area: i4;
  position: relative;
  text-align: center;
}

.tile-center-mid-left {
	grid-area: i5;
    background-color: e1e1e1;
    position: relative;
    text-align: center;
}

.tile-center-mid-right {
	grid-area: i6;
    background-color: 999999;
    position: relative;
    text-align: center;
}

.tile-center-right {
	grid-area: i7;
    background-color: b9b9b9;
    position: relative;
    text-align: center;
}

.tile-bottom-left {
	grid-area: i8;
    background-color: 7b7b7b;
    position: relative;
    text-align: center;
}

.tile-bottom-center {
	grid-area: i9;
    background-color: a1a1a1;
    text-align: center;
    position: relative;
}

.tile-bottom-right {
	grid-area: ia;
  background-color: a0a0a0;
  position: relative;
  text-align: center;
}

.tile-top-left:hover {
  background-color: ff7799;
}

.tile-top-center:hover {
  background-color: 08cc08;
}

.tile-top-right:hover {
  background-color: c66c88;
}

.tile-center-left:hover {
	background-color: 0077b5;
}

.tile-center-mid-left:hover {
	background-color: ff9911;
}

.tile-center-mid-right:hover {
    background-color: 1DA1F2;
}

.tile-center-right:hover {
    background-color: ffaa88;
}

.tile-bottom-left:hover {
    background-color: 6cc644;
}

.tile-bottom-center:hover {
    background-color: ffd700;
}

.tile-bottom-right:hover {
	background-color: 73A1CC;
}

.auto {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.grid-container {
	display:grid;
	height:100%;
	width:100%;
	grid-template-columns: 8.3333% 8.3333% 8.3333% 8.3333% 8.3333% 8.3333% 8.3333% 8.3333% 8.3333% 8.3333% 8.3333% 8.3333%;
	grid-template-rows: 8.3333% 8.3333% 8.3333% 8.3333% 8.3333% 8.3333% 8.3333% 8.3333% 8.3333% 8.3333% 8.3333% 8.3333%;
	grid-template-areas:
	"i0 i0 i0 i0 i0 i0 i0 i0 i0 i0 i0 i0"
	"i1 i1 i1 i1 i2 i2 i2 i3 i3 i3 i3 i3"
	"i1 i1 i1 i1 i2 i2 i2 i3 i3 i3 i3 i3"
	"i4 i4 i5 i5 i2 i2 i2 i3 i3 i3 i3 i3"
	"i4 i4 i5 i5 i2 i2 i2 i3 i3 i3 i3 i3"
	"i4 i4 i5 i5 i6 i6 i7 i7 ia ia ia ia"
	"i8 i8 i5 i5 i6 i6 i7 i7 ia ia ia ia"
	"i8 i8 i5 i5 i6 i6 i7 i7 ia ia ia ia"
	"i8 i8 i9 i9 i9 i9 i7 i7 ia ia ia ia"
	"i8 i8 i9 i9 i9 i9 i7 i7 ia ia ia ia"
	"i8 i8 i9 i9 i9 i9 i7 i7 ia ia ia ia"
	"i8 i8 i9 i9 i9 i9 i7 i7 ia ia ia ia"
}

.pretty-text {

	font-size: 3vw;
	color: 000000;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.hidden-text {

	font-size: 1.25vw;
	color: 666666;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.clickable {
	cursor: pointer;
}